In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("movies.db")

In [3]:
import pandas as pd
from pandas import Series,DataFrame

In [4]:
# 関数を作って、SQL文の実行結果をDataFrameにして返します。
def sql_to_df(sql_query):

    # read_sqlの引数に、SQL文とデータベースへのConnectionを渡します。
    df = pd.read_sql(sql_query, con)

    # 結果のDataFrameを返します。
    return df

In [5]:
con.execute("insert into reviews(title, review) values('天空の城ラピュタ', '天空の城ラピュタへ冒険をする物語。')")

In [6]:
con.execute("INSERT INTO reviews(title, review) VALUES ('アイアン・メイズ／ピッツバーグの幻想 - みんなのシネマレビュー', '3．《ネタバレ》　日本人がハリウッドで監督するってのに、わざわざまた「藪の中」を使うのは芸がないと思ってたんだけど、そう気にならなかった。もう「羅生門」型ってジャンルがあるってことか。これではみんなが誰かをかばって藪の中になっている。しかもアメリカ映画ですから結論が出ます。人によって見方は違う、ということを経て相互理解への道はある、って。滅んでいく町の人間の目に映る嫌味な金持ちの日本。このころは経済摩擦が問題化していて、コメディではよく扱われたが、この手のミステリー風のにまで登場したか、と思わされ、けっこう現地の雰囲気を出してたんじゃないか、よく知らないけど。彼が作ろうとしていた遊園地より、廃工場のほうが魅力的に見える。 【なんのかんの】さん [映画館(字幕)] 6点（2012-12-14 09:45:06）')")

In [7]:
sql_query = '''
SELECT * FROM reviews
'''
res_df = sql_to_df(sql_query)

In [9]:
res_df

,id,title,review
0,None,天空の城ラピュタ,天空の城ラピュタへ冒険をする物語。
1,None,アイアン・メイズ／ピッツバーグの幻想 - みんなのシネマレビュー,3．《ネタバレ》 日本人がハリウッドで監督するってのに、わざわざまた「藪の中」を使うのは芸が...

In [10]:
con.close()

### カーソルを使用してみた

In [11]:
con = sqlite3.connect("movies.db")

In [14]:
cur = con.cursor()

In [15]:
cur.execute("insert into reviews(title, review) values('天空の城ラピュタ', '天空の城ラピュタへ冒険をする物語。')")

In [23]:
sql_query = '''
SELECT * FROM reviews
'''
cur.execute(sql_query)
for row in cur:
    print(row)

(None, '天空の城ラピュタ', '天空の城ラピュタへ冒険をする物語。')

In [24]:
cur.close()

In [25]:
con.close()